*{
    margin:0;
}

#header{
    width:100%;
    height: 7vh;
    background: linear-gradient(to right, #8a0a6a, #0a3fba);
    position:fixed;
    display:grid;
    justify-content:right;
    align-items:center;
    overflow: hidden;
}

#nav-bar ul{
    display:flex;  
}

#nav-bar li{
    list-style:none;
}

.nav-link{
    color:#000;
    background-color:#fff;
    border-radius:1.6vh;
    text-decoration:none;
    margin-right: 6vh;
    padding:1vh;
    font-size:2.5vh;
}

#space{
      height:20vh;
}

#Offer {
    display: flex;
    flex-wrap: wrap;
    margin:4vh;
}

#Offer h2{
    background-color:#D3D3D3;
}

#Offer input[type='text'], #Offer input[type='number'], textarea{
    padding: 1vh;
    border:1px solid #000;
    border-radius:1.7vh;
}

#btnAdminDashboardLink {
    margin-right: 150vh ;
}

@media screen and (max-width: 600px) {
    #btnAdminDashboardLink {
      margin-right: 30vh;
    }
}

.item {
    width:60%;
    margin: 1.5vh;
    flex-grow: 1;
    height: 13vh;
    border:3px solid #D3D3D3;
    border-radius:1.5vh;
    height:100%;
    text-align: center;
}

.item img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item label, input, textarea {
    margin-top: 2vh;
}

.item label {
    font-size: 3vh;
}

.item input {
    font-size: 2vh;
}

#btnUpdate, #btnCancel, #btnAddP{
    width: 20%;
    font-size:2vh;
    font-weight:bold;
    border:1px solid #fff;
    padding:1.1vh;
    margin:1.4vh;
    border-color: #000;
    border-radius:1.7vh;
}

footer{
    background-color:#000;
    position: fixed; 
    bottom: 0;
    width:100%;
}

footer p {
    color: #fff;
    text-align: center;
}